* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}
body {
  font-family: "inter";
  background: #ede1d2;
}
@font-face {
  font-family: "Molang";
  src: url("../font/SwistblnkMoalangMelintang.woff") format("woff"),
    url("../font/SwistblnkMoalangMelintang.woff2") format("woff2");
}

@import "bootstrap/scss/bootstrap-grid";
img {
  width: 100%;
}

.minis-titres {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  text-align: right;
}
.paragraphe {
  font-size: 21.5px;
  font-weight: 300;
  line-height: 121.15%;
}
.CTA {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 45px;
}
.CTA p,
.CTA a {
  font-size: 24px;
  font-weight: 500;
}

.CTA:hover {
  border-bottom: 0.9px solid #c51c1f;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  /*max-height: 100%;*/
  z-index: -100;
}

.menu-princ h2 {
  color: #c51c1f;
  font-family: "Molang";
  font-size: 40px;
  font-weight: 400;
}
.menu-princ {
  display: flex;
  justify-content: space-between;
}
.menu-princ img {
  height: 40px;
}
.icons-right {
  display: flex;
  align-items: center;
  gap: 23px;
}
h1 {
  font-size: 475px;
  font-family: "Molang";
  color: #c51c1f;
  font-weight: 400;
}
.menu-fixed {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  color: white;
  mix-blend-mode: difference;
}
.menu-sec {
  display: flex;
  justify-content: space-between;
}

.menu-sec p:hover {
  text-decoration: underline;
}

.fond-EDE1D2 {
  background-color: #ede1d2;
  padding: 124px 0px 73px;
  color: #c51c1f;
}

.paragraphe.pg-nv {
  width: 166%;
  margin-left: -66%;
  display: flex;
  align-items: flex-start;
  align-items: flex-end;
}

.fond-6C1012 {
  background-color: #6c1012;
  color: #ede1d2;
  padding: 124px 0px 70px;
}
h2.valeurs-titre {
  font-size: 64px;
  font-weight: 500;
  text-transform: uppercase;
}
.paragraphe.valeurs-pg {
  opacity: 0.8;
}

.valeurs {
  display: flex;
  flex-direction: column;
  height: 722px;
  justify-content: space-between;
  padding: 10px;
}
.valeur {
  width: 83%;
}

.valeur:nth-child(even) {
  align-self: flex-end;
}

h2.vigne-titre {
  text-align: right;
}

.vigneron.Gerald {
  margin-top: 45px;
}
.vigneron.Sylvie {
  margin-top: -65px;
}
.vigneron.Christophe {
  margin-top: -65px;
}
p.paragraphe.vigneron-pg {
  margin-top: 92px;
}

.fond-C51C1f {
  background-color: #c51c1f;
  color: #ede1d2;
  padding: 124px 0 73px;
}

h4.pg-titre-degustation {
  font-size: 30px;
  font-weight: 500;
  line-height: 140%;
  margin-top: 347px;
}

.paragraphe.pg-degu {
  margin-top: -277px;
}

.fond-EDE1D2.nl {
  color: #6c1012;
  padding: 64px 0;
}
h3.titre-nl {
  font-size: 34.3px;
  font-weight: 500;
  margin-bottom: 10px;
}
p.sous-titre-nl {
  font-weight: 500;
  margin-bottom: 43px;
}
p.mail-nl {
  font-size: 22px;
  font-weight: 500;
  opacity: 0.6;
}
.inscription-nl p {
  color: #ede1d2;
  font-size: 24px;
  font-weight: 500;
}
.adresse-nl {
  height: 41.5px;
  padding: 5px 0px 5px 10px;
  border-bottom: 1px solid rgba(108, 16, 18, 0.73);
}
.inscription-nl {
  display: flex;
  background-color: #6c1012;
  padding: 6px;
  justify-content: center;
  align-items: center;
}

.fond-6C1012.footer {
  padding: 50px 0px 0;
}

h2.logo {
  font-family: "Swistblnk Moalang Melintang";
  font-size: 50px;
  font-weight: 400;
}
h5 {
  font-size: 22px;
  font-weight: 500;
  opacity: 0.75;
}
p.texte-footer {
  font-size: 16px;
  font-weight: 300;
}
.lien-footer {
  display: flex;
  gap: 10px;
  padding: 1px 0px;
  align-items: center;
  border-bottom: 1px solid #ede1d2;
  margin-top: 23px;
}
.infos-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer h5 {
  margin: 36px 0px;
}

.suivez-nous {
  display: flex;

  align-items: center;
  gap: 10px;
}
p.texte-footer.strong {
  font-weight: 500;
}
.logos img {
  max-width: 71px;
}
.logos {
  margin-top: -30px;
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.protection {
  display: flex;
  gap: 95px;
}
p.droits {
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  margin-top: 120px;
  margin-bottom: 22px;
}

.fond-EDE1D2.page-vin {
  color: #6c1012;
  padding: 26 0 121px;
}
p.fil-ariane {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}

p.gamme-vin {
  font-size: 14px;
  font-weight: 500;
}

p.titre-vin {
  font-size: 44px;
  font-weight: 500;
  text-transform: uppercase;
}

p.prix-vin {
  font-size: 24px;
  line-height: 121.15%;
}

p.titre-info-vin {
  font-size: 24px;
  font-weight: 500;
}
.infos-princ {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 86px;
}

.Accords-vin {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info.notes-vin {
  margin-top: 86px;
}
.info-sec svg {
  margin-top: 50px;
}

.CTA.cta-panier {
  color: #c51c1f;
  margin-top: -32;
}
