* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body {
  font-family: "inter";
}
@font-face {
  font-family: "Molang";
  src: url("../font/SwistblnkMoalangMelintang.woff") format("woff"),
    url("../font/SwistblnkMoalangMelintang.woff2") format("woff2");
}

@import "bootstrap/scss/bootstrap-grid";

video {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  z-index: -100;
}

.menu-princ h1 {
  color: #c51c1f;
  font-family: "Molang";
}
.menu-princ {
  display: flex;
  justify-content: space-between;
}
.menu-princ img {
  height: 40px;
}
.icons-right {
  display: flex;
  align-items: center;
  gap: 23px;
}

.menu-sec {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 820px;
}
