* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
@font-face {
  font-family: "Molang";
  src: url("../font/SwistblnkMoalangMelintang.woff") format("woff"),
    url("../font/SwistblnkMoalangMelintang.woff2") format("woff2");
}

@import "bootstrap/scss/bootstrap-grid";
